<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<div class = "container">
  <div class = "page-header">
    <center><h1>All Questions</h1></center>
    <ul class="nav nav-tabs">
      <li role="presentation"><%= link_to 'Home', root_path %></li>
      <li role="presentation"><%= link_to 'All Questions', controller: 'questions' %></li>
      <li role="presentation"><%= link_to 'New Question', new_question_path, {class: 'allquestions-link'}  %></li>
    </ul>
  </div>
</div>

<div class = "container">
  <table>
    <tr>
      <th>Question</th>
      <th>One</th>
      <th>Two</th>
      <th>Three</th>
      <th>Four</th>
      <th>Answer</th>
    </tr>
    <% for q in @questions %>
      <tr>
        <td><%=h q.question %></td>
        <td><%=h q.one %></td>
        <td><%=h q.two %></td>
        <td><%=h q.three %></td>
        <td><%=h q.four %></td>
        <td><%=h q.answer %></td>
        <td><%= link_to 'Show', q %></td>
        <td><%= link_to 'Destroy', q, :confirm => 'Are you sure?',
                :method => :delete %></td>
      </tr>
    <% end %>
  </table>

  <% @questions.each do |question| %>
  <div>
    <div class="question-question">
      <h3><%= question.question %></h3>
    </div>
    <div class="question-one">
    <%= question.one %>
    </div>
    <div class="question-two">
    <%= question.two %>
    </div>
    <div class="question-three">
    <%= question.three %>
    </div>
    <div class="question-four">
    <%= question.four %>
    </div>
  </div>
  <% end %>
</div>
