<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<div class = "container">

  <div class = "container">
    <div class = "page-header">
      <center><h1>New Question</h1></center>
      <ul class="nav nav-tabs">
        <li role="presentation"><%= link_to 'Home', root_path %></li>
        <li role="presentation"><%= link_to 'All Questions', controller: 'questions' %></li>
        <li role="presentation"><%= link_to 'New Question', new_question_path, {class: 'allquestions-link'}  %></li>
      </ul>
    </div>
  </div>

  <%= form_for(@question) do |f| %>

    <div class="form-group">
      <%= f.label :question %>
      <%= f.text_field :question, class:'form-control', placeholder: 'question' %>
    </div>

    <div class="form-group">
      <%= f.label :one %>
      <%= f.text_field :one, class:'form-control', placeholder: 'answer' %>
    </div>

    <div class="form-group">
      <%= f.label :two %>
      <%= f.text_field :two, class:'form-control', placeholder: 'answer' %>
    </div>

    <div class="form-group">
      <%= f.label :three %>
      <%= f.text_field :three, class:'form-control', placeholder: 'answer' %>
    </div>

    <div class="form-group">
      <%= f.label :four %>
      <%= f.text_field :four, class:'form-control', placeholder: 'answer' %>
    </div>

    <div class="form-group">
      <%= f.label :answer %>
      <%= f.text_field :answer, class:'form-control' %>
    </div>

    <%= f.submit %>
    <% end %>
</div>
